* {
    padding: 0;
    margin: 0;
}

header {
    /* 導覽列 */
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgb(230, 233, 230);
    line-height: 30px;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    /* LOGO的圖片 */
    margin-left: 60px;
}

header a {
    /* 導覽列的連結 */
    color: rgb(134, 111, 111);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    color: rgb(119, 162, 213);
    font-size: 18px;
    transition: 0.2s;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

header li {
    display: flex;
    align-items: center;
}

header button {
    /* 導覽列登入/註冊的按鈕 */
    all: unset;
    cursor: pointer;
    color: rgb(134, 111, 111);
}

header button:hover {
    background-color: rgb(230, 233, 230);
    text-decoration: underline;
    color: rgb(119, 162, 213);
    font-size: 18px;
    transition: 0.2s;
}

.shopcart {
    /* 導覽列購物車的圖案 */
    width: 30px;
    height: auto;
    vertical-align: middle;
    max-height: 30px;
    padding: 0 0 9px 0;
}

.homepage_nav {
    /* 首頁的導覽列連結 */
    color: rgb(119, 162, 213);
}

.diy_nav {
    /* 配單網站的導覽列連結 */
    color: rgb(119, 162, 213);
}

.shop_nav {
    /* 商品網站的導覽列連結 */
    color: rgb(119, 162, 213);
}

.loginwindow_block {
    /* 預設隱藏的彈出式登入視窗的區塊 */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明背景 */
    z-index: 999;
}

.loginwindow {
    /* 彈出式登入視窗本體 */
    background-color: white;
    width: 500px;
    height: 300px;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 2.5vw;
    font-size: 20px;
}


.loginbutton {
    /* 登入按鈕 */
    font-size: 20px;
    cursor: pointer;
    width: 80px;
}

.loginwindow input {
    /* 輸入框 */
    margin: 20px 0 20px 0;
    font-size: 20px;
}

.close {
    /* 叉叉關閉鍵 */
    float: right;
    font-size: 35px;
    cursor: pointer;
    padding-top: -999px;
}

.registerbutton {
    /* 點我註冊的按鈕 */
    all: unset;
    cursor: pointer;
}

.registerbutton:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    color: rgb(111, 111, 111);
}

.registerwindow_block {
    /* 預設隱藏的彈出式註冊視窗的區塊 */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明背景 */
    z-index: 999;
}

.registerwindow {
    /* 註冊視窗本體 */
    background-color: white;
    width: 600px;
    height: 350px;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 2.5em;
    font-size: 20px;
}

.back_loginbutton {
    /* 返回登入的按鈕 */
    all: unset;
    cursor: pointer;
}

.back_loginbutton:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    color: rgb(111, 111, 111);
}

footer {
    display: flex;
    line-height: 5vw;
    background-color: rgb(60, 56, 56);
    color: aliceblue;
    justify-content: center;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    font-size: 25px;
}

th,
td {
    border: solid 1px black;
    text-align: center;
}

.select_css {
    font-size: 20px;
    width: 650px;
    margin: 4px;
}

.quantity {
    font-size: 20px;
    width: 35px;
    margin: 4px;
}

.item {
    width: 190px;
}

.numero {
    width: 30px;
}

.price {
    width: 60px;
}

.area {
    /* 配單頁主要main的布局 */
    display: flex;
    margin: 70px 0px;
    justify-content: space-around;
    align-items: center;
}

.area p {
    line-height: 2.5vw;
    text-align: center;
}

.button1 {
    /* 配單頁main的按鈕 */
    position: relative;
    left: 140px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button2 {
    position: relative;
    left: 140px;
    background-color: #007bff;
    color: white;
    padding: 10px 16px 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.area button:hover {
    background-color: #0056b3;
}

.total {
    /* 配單頁下方統計列 */
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    background-color: rgb(221, 214, 214);
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    padding-right: 50px;
    line-height: 40px;
}

/* 零件市集頁 */
.chickshopcar {
    width: 200px;
    margin: 20px 0 0 -30px;
}

.product_menu {
    margin-left: 100px;
    flex: 1;
}

.product_list {
    list-style: none;
    line-height: 3vw;
    margin: 20px;
}

.product_list a {
    color: rgb(222, 6, 96);
    text-decoration: none;
}

.product_list a:hover {
    text-decoration: underline;
    font-size: 20px;
    transition: 0.2s;
}

.shop_main {
    display: flex;

}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 20px 20px 20px 70px;
}

.product div {
    width: 270px;
    flex-wrap: no;
    text-align: left;
    line-height: 2vw;
    margin: 10px 50px;
}