* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(220, 130, 220);
    height: 60px;
    width: 100%;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

header li {
    display: flex;
    align-items: center;
}

h2 {
    color: white;
    position: absolute;
    left: 250px;
    top: 0;
    line-height: 60px;
}


.shopcart {
    width: 30px;
    height: auto;
    vertical-align: middle;
    max-height: 30px;
    padding: 0 0 9px 0;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    font-size: 25px;
}

th,
td {
    border: solid 1px black;
    text-align: center;
}

.select_css {
    font-size: 20px;
    width: 650px;
    margin: 4px;
}

.item {
    width: 190px;
}

.numero {
    width: 30px;
}

.area {
    display: flex;

}

.menu {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    width: 20%;
    line-height: 80px;
    text-decoration: underline;
    margin-left: 0vw;
}

footer {}